<div id="newcontainer">
  <h1><u>About Citizenry</u></h1>

  <p1></p>

  <p1>Citizenry is a resource for political research and discussion. Right now you can view the latest Petition results from petitions.whitehouse.gov. These are real petitions created that have acquired a minimum of 150 signatures and if they reach 100k then they get put forward for a review. There are several success stories that have translated from petition to legislation and can be found on the petition.whitehouse.gov site.</p>

  <p1></p>

  <p1>The purpose of these petitions is to offer insight into what topics and issues really matter to the American public. From there we encourage you to create an Issue that you feel needs to be discussed and other users can create a dialogue with you. We at Citizenry believe that the path towards progress is taken when ideas are formed, refuted, or supported.</p>

  <p1></p>

  <p1>Remember to be kind and be open.</p>
</div>
