<div id="newcontainer">
  <h1><u>About Citizenry</u></h1>

  <p></p>

<p>Citizenry is a resource for political research and discussion. Right now you can view the latest Petition results from petitions.whitehouse.gov processed via API or search and explore a specific topic using the Search field at the top of the page. These are real petitions created by the public. You can see see what category they belong to, a description on what the petition is looking to accomplish, and counters for signatures acquired and signatures needed before being put forward for a governmental review. There are several success stories that have translated from petition to legislation and can be found on the petition.whitehouse.gov site.
</p>

  <p></p>

  <p>The purpose of these petitions is to offer insight into what topics and issues really matter to the American public. From there registered users are encouraged you to create an Issue that they feel needs to be discussed. Other users then can create a dialogue with them in the issues & comments forum. At Citizenry we believe that the path towards progress is taken when ideas are formed, refuted, or supported.
  </p>

<p></p>

  <p>Remember to be kind and be open.</p>
</div>
